@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  max-width: 100vw;
  background: #f1f0a6;
  background: linear-gradient(to right, #bdbcb8, #f1f0a6);
  overflow-x: hidden;
  padding-bottom: 70px;
}

h1 {
  text-align: center;
  font-weight: inherit;
  letter-spacing: 0.2rem;
  margin: 22px 0;
}

h2 {
  font-weight: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

p {
  font-size: 0.9rem
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  height: 250px;
  width: 150px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.artwork {
  position: relative;
  width: 90%;
  z-index: 1;
}

.halo {
  background-color: #fff;
  opacity: 0.5;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
}

.number {
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

/* Types */
.normal {
  background-color: #bbbbb6;
}

.fire {
  background-color: #fcdad4;
}

.water {
  background-color: #cce4fc;
}

.electric {
  background-color: #f8e5a6;
}

.grass {
  background-color: #bedab3;
}

.ice {
  background-color: #ccf5e8;
}

.fighting {
  background-color: #b8a5a3;
}

.poison {
  background-color: #ada3ab;
}

.ground {
  background-color: #d8c4b1;
}

.flying {
  background-color: #cbd2fa;
}

.psychic {
  background-color: #f8cbdd;
}

.bug {
  background-color: #e4ebad;
}

.rock {
  background-color: #b6af94;
}

.ghost {
  background-color: #9595b8;
}

.dragon {
  background-color: #c1bce0;
}

.fairy {
  background-color: #e0cae2;
}